[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
faker = "*"
jsonpointer = "*"
jsonschema = "*"
docopt = "*"
pycodestyle = "*"
requests = "*"
urllib3 = "*"

[dev-packages]
pytest = "*"
pycodestyle = "*"

[requires]
python_version = "3.6"
